<div class="analysis-main-container">
    <div class="analysis-header">
        <div class="analysis-card-container">
            <mat-card class="analysis-card">
            </mat-card>
        </div>
    </div> 
    <div class="analysis-rest">
        <split direction = "vertical" gutterSize = 7>
            <split-area size="35">
                <split direction = "horizontal" gutterSize = 7>
                    <split-area size="10">
                        <div class="analysis-card-container">
                            <mat-card class="card analysis-card">
                            </mat-card>
                        </div>
                    </split-area>
                    <split-area size="90">
                        <div class="analysis-card-container">
                            <mat-card class="analysis-card">
                            </mat-card>
                        </div>
                    </split-area>
                </split>     
            </split-area>
            <split-area size="65">
                <div class="analysis-card-container">
                    <mat-card class="analysis-card">                   
                    </mat-card>
                </div>
            </split-area>
        </split> 
    </div> 
</div>  
