 <div class="analysis-main-container">
    <div class="analysis-header">
        <div class="analysis-card-container">
            <div class="card analysis-card">
                <!--Card content-->
                <div class="card-body">
                   
                </div>
            </div>          
        </div>
    </div> 
    <div class="analysis-rest">
        <split direction = "vertical" gutterSize = 7>
            <split-area size="35">
                <split direction = "horizontal" gutterSize = 7>
                    <split-area size="10">
                        <div class="analysis-card-container">
                            <mat-card class="card analysis-card">
                            </mat-card>
                        </div>
                    </split-area>
                    <split-area size="90">
                        <div class="analysis-card-container">
                            <mat-card class="analysis-card">
                            </mat-card>
                        </div>
                    </split-area>
                </split>     
            </split-area>
            <split-area size="65">
                <div class="analysis-card-container">
                    <mat-card class="analysis-card">
                        <table class="table">

    <!--Table head-->
    <thead class="blue-grey lighten-4">
        <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
        </tr>
    </thead>
    <!--Table head-->

    <!--Table body-->
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
        </tr>
    </tbody>
    <!--Table body-->
</table>
<!--Table-->

<!--Table-->
<table class="table">

    <!--Table head-->
    <thead class="mdb-color darken-3">
        <tr class="text-white">
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
        </tr>
    </thead>
    <!--Table head-->

    <!--Table body-->
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
        </tr>
    </tbody>
    <!--Table body-->
</table>                   
                    </mat-card>
                </div>
            </split-area>
        </split> 
    </div> 
</div>  