.analysis-main-container {
  display: flex;
  width: 100%;
  padding: 4px;
  background-color: grey;
  flex-direction: column;
}

.analysis-header {
  display: flex;
  height: 10%;
  margin-bottom: 5px;
}

.analysis-rest {
  display: flex;
  height: 90%;
}

.analysis-card-container{
  display: flex;
  flex-direction: row;
  height: 100%;
  width:100%;
}
 
.analysis-card {
  width:100%;
}

